* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  position: absolute;
  width: 200px;
  height: 200px;
  background-color: rgb(235, 110, 131);
  box-shadow: 0 0 10px 5px rgb(237, 188, 196);
  animation-name: CardRotator;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-delay: 1s;
}

.card:nth-child(1) {
  transform: rotate(30deg);
}

.card:nth-child(2) {
  transform: rotate(60deg);
}

.card:nth-child(3) {
  transform: rotate(90deg);
}

.card:nth-child(4) {
  transform: rotate(120deg);
}

@keyframes CardRotator {
  50% {
    transform: rotate(90deg);
  }
}
