body {
  background-color: #ccc;
}
h1 {
  text-align: center;
  background-color: #eee;
  width: 1000px;
  margin: auto;
}
table {
  background-color: #fff;
  width: 1000px;
  margin: auto;
  padding: 30px 150px;
}

td {
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}
